{% extends "base.html"%} {% block title%} Home {% endblock%} {% block content %}
<div class="container">
  <h2 class="text-center">MovieGenre Classification</h2>

  <div class="form-floating mb-3">
    <textarea
      class="form-control"
      id="movie-description"
      placeholder="Enter Movie Description"
      style="height: 100px"
    ></textarea>
    <label for="exampleFormControlTextarea1" class="form-label">
        Movie Description
    </label>
  </div>
  <button type="button" class="btn btn-primary">Predict</button>
</div>
{% endblock %}
